.check_in_wrapper {
  padding: 8px 0 150px;
  position: static;
}

.toolbar_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  position: relative;

  .game_info {
    display: flex;
    align-items: center;
  }
}

.price_box {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 16px;
  border-radius: 16px;

  &.drop {
    color: #ff4949;
    background-color: rgba(234, 69, 31, 0.2);
  }

  &.up {
    color: #72f238;
    background-color: rgba(122, 255, 0, 0.2);
  }

  .v-img {
    flex: none;
    margin-right: 4px;
  }
}

.close_time {
  padding: 0 8px;
  font-family: "Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  color: #b0b5c5;
  display: flex;
  align-items: center;

  .v-img {
    flex: none;
    margin-right: 4px;
  }
}

.chart_type {
  min-width: 60px;
  background: rgba(203, 215, 255, 0.03);
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: #b0b5c5;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart_type_items {
  position: absolute;
  right: 8px;
  top: 44px;
  background: #242735;
  width: 60px;
  border-radius: 4px;
  z-index: 10;

  .type_item {
    font-size: 14px;
    color: #b0b5c5;
    text-align: left;
    line-height: 1;
    padding: 4px 8px;

    &.active {
      color: #ffb018;
    }
  }
}

.chart_box {
  position: relative;

  .chart_mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 10px;
    background: #1f212e;
    z-index: 200;
  }
}

.buying_panel {
  width: 100%;
  padding: 16px;

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
  }
}

.buy_types {
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #161823;
  border-radius: 4px 4px 0 0;
  padding: 4px;
  box-sizing: border-box;

  .buy_type_item {
    border-radius: 6px;
    color: #ea980a;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    padding: 6px 8px;
    box-sizing: border-box;
    flex: 1;
    z-index: 2;

    &.active {
      color: #ea980a;
    }
  }

  .buy_type_slider {
    position: absolute;
    background-color: #353744;
    transition: all 0.3s;
    border-radius: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    z-index: 1;

    &.auto {
      left: 50%;
      transition: all 0.3s;
    }
  }
}

.manual_box {
  &.fixed {
    padding: 8px 8px 16px;
    background-color: #2e303e;
    padding-bottom: 8px;
  }
}

.buy_type_panel {
  font-size: 14px;
  color: #b0b5c5;
  font-weight: bold;

  .buy_type_title {
    margin-bottom: 4px;
  }
}

.buy_type_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #161823;
  border-radius: 4px;
  padding: 4px;

  .buy_type_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    z-index: 2;

    &.fixed {
      min-width: calc(50% - 2px);
      font-size: 12px;
      padding: 2px;

      .v-img {
        margin-right: 4px;
      }
    }

    .v-img {
      flex: none;
      margin-right: 8px;
      filter: grayscale(50%);
    }

    .type_down {
      transform: rotateX(180deg);
    }

    &.up_active {
      color: #85f353;
    }

    &.down_active {
      color: #ff4949;
    }
  }

  .buy_type_slider {
    position: absolute;
    background-color: rgba(133, 243, 83, 0.4);
    transition: all 0.3s;
    border-radius: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    z-index: 1;

    &.down {
      background-color: #41272b;
      left: 50%;
      transition: all 0.3s;
    }
  }
}

.buy_numer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  &>div {
    flex: 1;
    width: 100%;
    margin-bottom: 14px;
  }

  &.fixed {
    flex-direction: row;
  }

  &.fixed>div {
    flex: 1;
    min-width: 0;
    max-width: none;
    margin-bottom: 4px;

    &.buy_price,
    &.buy_multiples {
      min-width: 60%;
      margin-right: 8px;
    }
  }
}

.buy_price,
.buy_multiples {
  font-size: 14px;
  font-weight: bold;
  color: #b0b5c5;

  &>div+div {
    margin-top: 4px;
  }

  .buy_input {
    background-color: #161823;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 4px;

    &>div+div {
      margin-left: 4px;
    }

    .v-img {
      flex: none;
    }

    &.fixed {
      :deep(.v-field__input) {
        line-height: 1;
      }
    }

    :deep(.v-field__input) {
      padding: 0;
      min-height: 0;
      line-height: 2;
      color: #fff;
      font-weight: bold;

      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #b0b5c5;
      }

      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #b0b5c5;
        opacity: 1;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #b0b5c5;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #b0b5c5;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #b0b5c5;
      }

      &::placeholder {
        /* Most modern browsers support this now. */
        color: #b0b5c5;
      }
    }

    .multiples_btn {
      background-color: #323444;
      border-radius: 4px;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      color: #b0b5c5;
      padding: 6px 8px;
      line-height: 1;
      width: 50px;
      text-align: center;

      &.fixed {
        padding: 4px;
        width: 40px;
      }
    }

    .multiples {
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      color: #b0b5c5;
      padding: 0 8px;
    }
  }

  .multiples_box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
      flex: 1;
    }

    &>div+div {
      margin-left: 8px;
    }
  }

  .multiples_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
      flex: 1;
    }

    &>.buy_input {
      border-radius: 0;
    }

    .plus_btn {
      max-width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: radial-gradient(#ffc81a 0%, #ffe71a 3%, #d9a315 100%);
      border: 1px solid #000;
      border-radius: 4px;
    }
  }

  .bust_price {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;

    .bust_val {
      color: #fff;
    }
  }
}

.stop_profit,
.stop_loss {
  font-size: 14px;
  font-weight: bold;
  color: #b0b5c5;
  padding-bottom: 14px;

  &>div+div {
    margin-top: 4px;
  }
}

.profit_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &>div {
    max-width: calc(50% - 2px);
    flex: 1;
  }

  :deep(.v-field__input) {
    padding: 4px 8px;
    min-height: 0;
    line-height: 2;
    color: #fff;
    background-color: #161823;
    border-radius: 6px;
    font-weight: bold;

    &::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #b0b5c5;
    }

    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #b0b5c5;
      opacity: 1;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #b0b5c5;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #b0b5c5;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #b0b5c5;
    }

    &::placeholder {
      /* Most modern browsers support this now. */
      color: #b0b5c5;
    }
  }

  .profit_input_box {
    background-color: #161823;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 4px 8px;

    span {
      font-size: 20px;
      padding-right: 4px;
      font-weight: bold;
    }

    :deep(.v-field__input) {
      padding: 0;
      min-height: 0;
      background-color: transparent;
      font-weight: bold;

      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #b0b5c5;
      }

      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #b0b5c5;
        opacity: 1;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #b0b5c5;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #b0b5c5;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #b0b5c5;
      }

      &::placeholder {
        /* Most modern browsers support this now. */
        color: #b0b5c5;
      }
    }

    &.up {
      color: #66ff07;

      :deep(.v-field__input) {
        color: #66ff07;
      }

      &:hover {
        box-shadow: 0px 0px 4px #66ff07;
      }
    }

    &.down {
      color: #ff0000;

      :deep(.v-field__input) {
        color: #ff0000;
      }

      &:hover {
        box-shadow: 0px 0px 4px #ff0000;
      }
    }
  }

  .error_text {
    position: absolute;
    bottom: -16px;
    width: 100%;
    max-width: none;
    font-size: 12px;
    color: #ff0000;
  }
}

.multiples_slider_box {
  padding-bottom: 14px;

  :deep(.v-slider-track__background) {
    background: linear-gradient(90deg, #0eff00 0%, #e68007 46%, #f60e0e 100%);
    opacity: 1;
  }
}

.multiples_point {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;

  font-size: 14px;
  color: #fff;
}

.btn_box {
  padding-top: 8px;
}

.buy_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 16px;
  color: #000;
  background-color: #85f353;
  border-radius: 4px !important;

  &.down {
    background-color: #ff6969;
  }
}

.buy_item_btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;

  .v-img {
    flex: none;
    margin: 0 4px;
  }

  &.up {
    background-color: #223425;
    color: #66ff07;
  }

  &.drop {
    background-color: rgba(234, 69, 31, 0.2);
    color: #e60b0b;
  }
}

.other_box {
  display: flex;
  align-items: center;
  padding: 8px 8px 0;

  .other_item {
    font-weight: bold;
    font-size: 14px;
    color: #b0b5c5;
    display: flex;
    align-items: center;

    .v-img {
      flex: none;
      margin-right: 4px;
    }
  }

  .other_item+.other_item {
    margin-left: 8px;
  }
}

.order_panel {
  padding: 8px 0 0;
}

.order_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242531;
  border-radius: 4px 4px 0 0;
  margin: 0 8px 0;
  overflow: hidden;

  .order_type_item {
    flex: 1;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    font-size: 14px;
    color: #b0b5c5;
    padding: 6px 0;

    &.active {
      background-color: #323444;
      color: #ea980a;
    }
  }
}

.list-item {
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s ease;
}

.list-enter-active,
.list-leave-active {
  transition: transform 0.5s ease;
}

.list-enter,
.list-leave-to {
  position: absolute;
}

.list-enter {
  transform: translateY(-100%);
}

.list-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.list-item:nth-child(2n-1) {
  background-color: #323444;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: #1f212e;

  .order_types {
    margin-right: 8px;
  }

  .order_user {
    .user_name {
      width: 30px;
      font-size: 12px;
      color: #ffffff;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      margin-right: 8px;
    }
  }

  .order_data {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .order_data_info {
    min-width: 30%;
    padding: 4px 0;
    flex: 1;

    .title {
      font-size: 12px;
      color: #b0b5c5;
    }

    .val {
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;

      &.amount {
        display: flex;
        align-items: center;

        &>div+div {
          margin-left: 4px;
        }

        .v-img {
          flex: none;
        }
      }

      &.drop {
        color: #ff4949;
      }

      &.up {
        color: #72f238;
      }
    }
  }

  .operating_btn {
    flex: 1;
    background-color: rgba(255, 232, 26, 1);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(242, 9, 9, 0.15) inset;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    padding: 6px 0;
    line-height: 1;
    text-align: center;
  }

  .order_btn {
    width: 28px;
    height: 28px;
    position: relative;
    margin-left: 8px;

    .drop {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .up {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.finished {
  text-transform: none;
  letter-spacing: 0;
}

.dialog_panel {
  :deep(.v-overlay__content) {
    margin: 0 !important;
    max-width: max-content !important;
    bottom: 0;
  }
}

.dialog_box {
  width: 100vw;
  background-color: #1f212e;
  border-radius: 4px 4px 0 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;

  .dialog_title {
    color: #fdefd6;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0 0;
    color: #b0b5c5;
  }

  .close_btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #b0b5c5;
  }
}

.dialog_order_panel {
  :deep(.v-overlay__content) {
    margin: 0 !important;
    max-width: max-content !important;
  }

  .order_box {
    background-color: #161823;
    margin: 0 16px;
    padding: 8px;
    border-radius: 8px;
  }

  .status_box {
    display: flex;
    align-items: center;

    .v-img {
      flex: none;
      margin-right: 8px;
    }
  }

  .status_info {
    .status_text {
      font-size: 16px;
      color: white;
      font-weight: bold;
    }

    .status_description {
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      color: #8c90a0;
    }
  }
}

.no_data {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  color: #b0b5c5;
  font-weight: bold;
  background-color: #2d303e;

  .v-img {
    flex: none;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.switch_box {
  background-color: #1f212e;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;

  .switch_text {
    margin-bottom: 24px;
  }

  &>.v-btn {
    font-size: 14px;
    border-radius: 8px;
    color: #fff;
    margin-top: 12px;
  }

  .enter_btn {
    background-color: rgba(255, 232, 26, 1);
    color: #c8c1c1;
    font-size: 16px;
    box-shadow: 0px 5px 5px 0px rgba(242, 9, 9, 0.15) inset;
  }

  .finished {
    text-transform: none;
    letter-spacing: 0;
    color: #000;
  }
}



.guide_wrapper {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

.guide_box {
  position: relative;
  width: 100vw;
  height: 100%;
}

.guide_next {
  width: 140px;
  height: 32px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #159bd5;
  color: white;
  font-size: 16px;
  font-weight: bold;

  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.guide_operating {
  position: absolute;
  width: 100%;
  top: 340px;
  display: flex;
  align-items: center;
  justify-content: center;

  .guide_operating_item+.guide_operating_item {
    margin-left: 8px;
  }

  .guide_operating_item {
    width: 140px;
    height: 32px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0eb2f7;
    color: #0eb2f7;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;

    &.auto {
      background-color: #159bd5;
      border: none;
      color: white;
    }
  }
}

.guide_text {
  position: absolute;
  padding: 0 24px;
  height: 32px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1bb01;
  color: #000;
  font-size: 16px;
  font-weight: bold;

  &::after {
    position: absolute;
    top: 32px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f1bb01;
  }

  &.left {
    &::after {
      left: 30px;
    }
  }

  &.right {
    &::after {
      right: 30px;
    }
  }
}

.guide_highlight {
  z-index: 2100;
  outline: 2px solid #f1bb01;
  position: relative;
}

.guide_mask {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1200;

  &.guide_fit {
    height: 100vh;
  }

  .guide_text {
    width: max-content;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      position: absolute;
      top: -9px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f1bb01;
      border-top: 0;
    }
  }
}